<nav>
  <span>
    <h2>Career Camp</h2>
    <a href="/">Students</a>
    <a href="/interview">Interview</a>
    <a href="">Jobs</a>
  </span>
  <span>
    <a href="/user/log-out">Log Out</a>
  </span>
</nav>