<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="/css/loginSignup.css">

   <title>Sign-up Form</title>
</head>
<body>
   
   <main>
      <h1>Career Camp</h1>

      <h3>Register Employee</h3>
   
      <form action="/user/signup" method="post">
         <p>Employee Id</p>
         <input type="text" name="employeeId" placeholder="Your ID..." required>
         <p>Password</p>
         <input type="password" name="password" placeholder="Password..." required>
         <p>Confirm Password</p>
         <input type="password" name="confirmPassword" placeholder="Confirm..." required>
   
         <button type="submit" class="orange">Register</button>
      </form>
   
      <a href="/user/login">Already registered. Log in here</a>
   </main>
   
</body>
</html>